.container{
height: 100px;
display: flex;
justify-content: space-between;
align-items: center;

}
.logo{
font-weight: bold;
font-size: 22px;
}
.linkConatiner{
display: flex;
align-items: center;
gap: 20PX;
}
.signIn{
padding: 5px;
border: none;
background-color: #53c28b;
color: white;
cursor: pointer;
border-radius: 5px;
}